<div class="wrapper" #configfilter>
  <div class="outside_area" (click)="hidefilter()">
  </div>
  <div class="transparent-overlay-window" id="div_setting-window-color">
    <mat-form-field>
      <mat-label>Classes</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-option *ngFor="let class of classList" [value]="class">{{class.nodeLabel}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="oval-button" id="btn_set-color" [(colorPicker)]="color"
      (colorPickerChange)="updateFirestoreColor($event)">
      set Color
    </button>
    <button class="oval-button" id="btn_reset" (click)="resetfilter()">
      reset
    </button>
  </div>
</div>